@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/plus-jakarta-sans-v12-latin-200.woff2') format('woff2');
}

/* For the header and general page */
html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

.header-bar h1 {
   margin: 0;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 1.75rem;
   background-color: #9D2235;
   color: #FFFFFF;
   font-size: 3rem;
}

.gold-button {
    background-color: #EAAA00;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    text-align: center;
    padding: 0.5rem 0.75rem;
    min-width: 7rem;
    box-sizing: border-box;
}

#utility-buttons {
   margin: 0;
   display: flex;
   justify-content: right;
   align-items: center;   
   gap: 1rem;
   padding: 1rem 1rem 0rem 1rem;
}

/* For the Input Section */
label {
    font-weight: 400;
    margin-right: 1rem;
}

#member-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    padding: 0.5rem;
}

#current-name {
    min-width: 10rem;
    min-height: 4rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#add-row-one, #add-row-two {
    display: flex;
    gap: 3rem;
    margin-bottom: 0.25rem;
}

/* For the Participants */
.participants-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
}

.draggable-debater {
    min-width: 8rem;
    min-height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0.25rem;
}

.draggable-debater button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 200;
    color: #9D2235;
    padding: 0;
    position: absolute;
    right: 0.2rem;
    top: 0.1rem;
}

.neutral-debater {
    background-color: #DDABDD;
}

.gov-debater {
    background-color: #89CFF0;
}

.opp-debater {
    background-color: #FC968C;
}

.judge-debater {
    background-color: #AFD9AE;
}

h2 {
    font-size: 1rem;
    text-align: center;
}

h3 {
    font-size: 0.75rem;
    text-align: center;
}

/* For the Rounds Section *//* For the Rounds Section */
.round {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    border: 1px solid #373737;
    padding: 1rem;
    padding-top: 6rem;
    flex: 0 0 22rem;
    box-sizing: border-box;
}

.judge-box {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    min-height: 3rem;
    min-width: 9rem;
    border: 1px dashed #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-one, .side-two {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.side-one .debater-landing-zone,
.side-two .debater-landing-zone {
    flex: 0 0 3rem;
    min-width: 9rem;
    min-height: 3rem;
    border: 1px dashed #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rounds-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    max-width: 72rem;
    margin: 0 auto;
}

.round button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 200;
    color: #9D2235;
    padding: 0;
    position: absolute;
    right: 0.2rem;
    top: 0.1rem;
}

#add-round-container {
   display: flex;
   justify-content: center;
   padding: 1rem;
}
#add-round {
   width: fit-content; 
}